body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  padding: 1rem 0;
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 3rem;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.container {
  max-width: min(calc(100vw - 2rem), 1200px);
  margin-inline: auto;
}

.nav__item--log-in {
  margin-left: auto;
}

.nav__button--log-out {
  margin-left: auto;
}

.label {
  display: block;
}

.form-group {
  margin-bottom: 1rem;
}

.error-message {
  display: block;
}